/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kitab';
  src: url("//cdn.alquran.cloud/public/fonts/Kitab-Regular.ttf");
}

.font-kitab {
  font-family: 'Kitab';
}

@font-face {
  font-family: 'Kitab Bold';
  src: url("//cdn.alquran.cloud/public/fonts/Kitab-Bold.ttf");
}

.font-kitab-bold {
  font-family: 'Kitab Bold';
}


@font-face {
    font-family: 'indopak';
    src: url('AlQuranIndoPakbyQuranWBW.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.arabic-text{
  font-family: 'indopak' !important;
}

@font-face{
  font-family:arbMushafFont;
  src:url('arb.woff2') 
  format("woff2");
  font-display:swap}

.font-MushafFont {
    font-family: arbMushafFont,sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url(iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
   font-family: "Rubik", serif;
   background-color: #0c171a;
}

.same_height{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes flashing-border {
    0% {
      border-image-source: linear-gradient(90deg, #ff00ff, #ffcc00);
    }
    25% {
      border-image-source: linear-gradient(180deg, #ff00ff, #ffcc00);
    }
    50% {
      border-image-source: linear-gradient(270deg, #ff00ff, #ffcc00);
    }
    75% {
      border-image-source: linear-gradient(360deg, #ff00ff, #ffcc00);
    }
    100% {
      border-image-source: linear-gradient(90deg, #ff00ff, #ffcc00);
    }
  }
  
  .flashing-border {
    position: relative;
    border: 6px solid transparent;
    border-radius: 0px;
    border-image-slice: 1;
    animation: flashing-border 2s linear infinite;
  }

  .focus\:ring-4:focus {
    box-shadow: none !important;
}